/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.h-min-80vh {
    min-height: 80vh;
}

.p-dropdown, .p-cascadeselect {
    width: 100%!important;
}

.fuse-vertical-navigation-wrapper {
    background-color: #1b2028!important;
}

.bg-umbraxakar {
    background-color: #1a1a1a!important;
}
