.bg-glass {
    background-image: url('/assets/images/ui/forge.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    
    //background-color: #1b2028!important;
}