.bg-glass {
    background-image: url('/assets/images/ui/forge.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    
    background-color: #1e1e1e!important;
}