<div class="flex flex-col flex-auto min-w-0 p-4 bg-glass">

  <form [formGroup]="blacksmithForm">
    <div class="grid grid-cols-4 gap-10">

      <ubraxakar-glass-container>
        <div class="">

          <div class="grid grid-cols-1">
            <div class="form-group p-2">
              <label>Blacksmith</label>
              <div>
                <p-dropdown [options]="blacksmiths" formControlName="blacksmith" optionLabel="name"
                  placeholder="Select Blacksmith">
                </p-dropdown>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Enchanter</label>
              <div>
                <p-dropdown [options]="enchanters" formControlName="enchanter" optionLabel="name"
                  placeholder="Select Enchanter">
                </p-dropdown>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Forge</label>
              <div>
                <p-dropdown [options]="forges" formControlName="forge" optionLabel="name" placeholder="Select Forge">
                </p-dropdown>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Item</label>
              <div>
                <p-cascadeSelect formControlName="itemType" [options]="items" optionLabel="name" optionGroupLabel="name"
                  [optionGroupChildren]="['data', 'data']" placeholder="Select Item"></p-cascadeSelect>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Quality</label>
              <p-dropdown [options]="qualities" formControlName="weaponQuality" optionLabel="name"
                placeholder="Select Magic Quality">
              </p-dropdown>
            </div>
          </div>
        </div>

      </ubraxakar-glass-container>

      <div>
        <ubraxakar-glass-container>
          <div *ngFor="let enchantment of enchantmentsArray?.controls; let i = index" class="form-group p-2">
            <div [formGroup]="enchantment" class="form-row">
              <div>
                <label>Enchantment {{index}}</label>
                <p-dropdown [options]="enchantments" formControlName="enchantment" optionLabel="name"
                  placeholder="Select Enchantment">
                </p-dropdown>
              </div>
              <div>
                <label>Attribute {{index}}</label>
                <p-dropdown [options]="attributes" formControlName="attribute" optionLabel="name"
                  placeholder="Select Attribute">
                </p-dropdown>
              </div>
            </div>
          </div>
        </ubraxakar-glass-container>
        <ubraxakar-glass-container>
          <label>Forging Technique</label>
          <p-dropdown [options]="forgingTechniques" formControlName="forgingTechnique" optionLabel="name"
            placeholder="Select Forging Technique">
          </p-dropdown>
        </ubraxakar-glass-container>
      </div>

      <ubraxakar-glass-container>
        <pre><code [highlight]="form.value | json"></code></pre>
      </ubraxakar-glass-container>

    </div>
  </form>
</div>