<div class="flex flex-col flex-auto min-w-0 p-4 bg-glass">

  <div class="grid grid-cols-4 gap-10">

    <ubraxakar-glass-container>
      <div class="">
        <form [formGroup]="blacksmitForm" *ngIf="blacksmitForm">

          <div class="grid grid-cols-1">
            <div class="form-group p-2">
              <label>Blacksmith</label>
              <div>
                <p-dropdown [options]="blacksmiths" formControlName="blacksmith" optionLabel="name"
                  placeholder="Select Blacksmith">
                </p-dropdown>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Enchanter</label>
              <div>
                <p-dropdown [options]="enchanters" formControlName="enchanter" optionLabel="name"
                  placeholder="Select Enchanter">
                </p-dropdown>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Forge</label>
              <div>
                <p-dropdown [options]="forges" formControlName="forge" optionLabel="name" placeholder="Select Forge">
                </p-dropdown>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Item</label>
              <div>
                <p-cascadeSelect formControlName="itemType" [options]="items" optionLabel="name" optionGroupLabel="name"
                  [optionGroupChildren]="['data', 'data']" placeholder="Select Item"></p-cascadeSelect>

              </div>
            </div>
            <div class="form-group p-2">
              <label>Quality</label>
              <p-dropdown [options]="qualities" formControlName="weaponQuality" optionLabel="name"
                placeholder="Select Magic Quality">
              </p-dropdown>
            </div>
          </div>
        </form>
      </div>

    </ubraxakar-glass-container>

    <ubraxakar-glass-container>
      <pre><code [highlight]="form.value | json"></code></pre>
    </ubraxakar-glass-container>
    <!-- 
    <ubraxakar-glassmorph-container>
    </ubraxakar-glassmorph-container> -->



  </div>
</div>