<div id="dialog" class="dialog">

  <ng-content></ng-content>
  <!-- <div class="dialog-header">
    <h3 class="title">Glassmorphism example dialog</h3>
  </div>
  <div class="dialog-body">
    <h4>What is Glassmorphism?</h4>

    <p>
      In simple terms it's a light or dark surface, placed on top of a colorful background.
    </p>
    <p>The blurry effect is achieved by the use of <code>backdrop-filter</code> css property and it's useful to give the
      sensation of a glass material element.</p>
    <h4>Testing</h4>
    <ul>
      <li>Click and hold this dialog's header;</li>
      <li>Drag it around;</li>
      <li>Click "Cancel" button to reset dialog position.</li>
    </ul>
  </div>
  <div class="dialog-footer">
    <button class="ok">Yes</button>
    <button onclick="reset()" class="cancel">Cancel</button>
  </div> -->
</div>